.notepad{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.notepad-textarea{
    font-family: 'Fixedsys Excelsior';
    font-size: 100%;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: var(--program-inner-inverted-shadow);
}

.notepad-textarea::selection{
    background-color: var(--win95-blue-color);
    color: white;
}

.notepad-textarea::-moz-selection{
    background-color: red;
    color: white;
}

.notepad-textarea:focus{
    border: none;
    outline: none;
}

.notepad-textarea:active{
    border: none;
    outline: none;
}